/* .crate {
    display: flex;
  }
  
  .crate > * + * {
    margin-left: 0.5rem;
  }
  
  .sidebar-transition {
    transition: width 300ms ease-in-out, padding 300ms ease-in-out;
  }
  
  .content-transition {
    transition: margin-left 300ms ease-in-out, padding 300ms ease-in-out;
  }
  
  .main-content-transition {
    transition: margin-left 300ms ease-in-out;
  }
  
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type='number'] {
    -moz-appearance: textfield;
  } */